---
import type { DeepDive } from "../content/siteCopy";
import RichText from "./RichText.astro";
import { renderDisplayMath } from "../lib/math";
interface Props { deepDive: DeepDive }
const { deepDive } = Astro.props;
---
<details class="deep-dive">
  <summary>{deepDive.title}</summary>
  <div class="deep-dive__body">
    {deepDive.paragraphs.map((p) => <RichText text={p} />)}
    {deepDive.formula && <div class="deep-dive__formula" set:html={renderDisplayMath(deepDive.formula)} />}
  </div>
</details>
